<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
<title>Write</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
   <!-- header.html 연결 -->
   <div th:replace="~{header::header-fragment}"></div>
   
 	<div id="container">   
 	<section id="writeform">
      <h2>WRITE</h2>
         <form th:action="@{/board/write}" method="post">
           <table class="tbl_list">
              <tbody>
                <tr>
                   <td>
                      <input type="text" name="title" placeholder="Title">
                   </td>
                </tr>
                <tr>
                   <td>
	                   <div sec:authorize="isAuthenticated()"
	                   		style="text-align: left; margin-left: 10px;">
	                       <span sec:authentication="principal.member.name"
							style="color:#555;"></span>
	                   </div>
                   </td>
                </tr>
                <tr>
                   <td>
                      <textarea rows="5" cols="50" name="content"
                            placeholder="Content"></textarea>
                   </td>
                </tr>
                <tr>
                   <td>
                      <input type="submit" value="done">
                      <input type="reset" value="cancel">
                   </td>
                </tr>
              </tbody>
           </table>
		</form> 
        </section>
   </div>
</body>
</html>