<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<link rel="stylesheet" href="/css/style.css">
<header th:fragment="header-fragment">
<!-- 	<div id="Logo">
		<h2>
			<a th:href="@{/}">Header</a>
		</h2>
	</div> -->
	<nav>
		<!-- 로그인 전 -->
		<th:block sec:authorize="isAnonymous()">
			<ul class="navbar-nav">
				<li>
          			<a th:href="@{/member/login}">SIGN-IN</a>
				</li>
				<li>
					<a th:href="@{/member/join}">SIGN-UP</a>
				</li>
				<li>
					<a th:href="@{/member/list}">MEMBERLIST</a>
				</li>
				<li>
					<a th:href="@{/board/list}">COMMUNITY</a>
				</li>
			</ul>
		</th:block>
		
		<!-- 로그인 후 -->
		<th:block sec:authorize="isAuthenticated()">
			<ul class="navbar-nav">
				<li>
					<span sec:authentication="principal.member.name" 
					style="font-size: 13px; color: #F8A39E;">
                    </span>&nbsp;
					<a th:href="@{/member/logout}">SIGN OUT</a>
				</li>
				<li>
					<a th:href="@{/member/update}">MY INFO</a>
				</li>
				<li>
					<a th:href="@{/member/list}">MEMBER LIST</a>
				</li>
				<li>
					<a th:href="@{/board/list}">COMMUNITY</a>
				</li>
			</ul>
		</th:block>
	</nav>
</header>