<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<!-- header.html 연결 -->
<div th:replace="~{/layout/header::header-fragment}"></div>

	<div id="container">
		<h2>SIGN IN</h2>
		<form th:action="@{/member/login}" method="post" class="joinform">
			<fieldset>
				<ul>
					<li>
						<label for="username">ID</label>
						<input type="text" name="username" id="username">
					</li>
					<li>
						<label for="password">Password</label>
						<input type="password" name="password" id="password">
					</li>
					<li>
						<span th:text="${error}" class="error"></span>					
					<li>
						<input type="submit" value="Login">
						<input type="reset" value="Cancel">
					</li>
				</ul>
			</fieldset>
		</form>
	</div>
</body>
</html>