<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Index</title>
<link rel="stylesheet" href="/css/style.css">
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
   <!-- header.html 연결 -->
   <div th:replace="~{/layout/header::header-fragment}"></div>

	<div id="container">
		<h2>BootBoard II</h2>
		<div class="main-img">
			<img th:src="@{/images/pitch1.jpg}" alt="theater">
		</div>
		<div class="menu">
			<a th:href="@{/main}">main</a><br>
			<!-- 			<a th:href="@{/member/join}">SIGN UP</a><br>
			<a th:href="@{/member/list}">MEMBER LIST</a><br>
			<a th:href="@{/board/list}">COMMUNITY</a><br> -->
			<a th:href="@{/auth/main}">security</a><br>
			<div class="weather">
				<h2>Today's Weather</h2>
				<h3 class="result">
					<!-- 20240125, 0600, -9.1 -->
				</h3>
			</div>
		</div>
	</div>
	<!-- footer.html 연결 -->
   <div th:replace="~{/layout/footer::footer-fragment}"></div>
<script src="js/weather.js"></script>
</body>
</html>