<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Index</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<div id="container">
		<h2>BootBoard II</h2>
		<div class="main-img">
			<img th:src="@{/images/pitch1.jpg}" alt="theater">
		</div>
		<div class="menu">
			<a th:href="@{/member/login}">Login</a><br>
			<a th:href="@{/board/write}">Write</a><br>
			<a th:href="@{/board/list}">List</a><br>
		</div>
	</div>
</body>
</html>